<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://scontent.fgua1-1.fna.fbcdn.net/v/t1.0-9/48420970_2304810466400921_4110614006731898880_n.png?_nc_cat=106&_nc_ht=scontent.fgua1-1.fna&oh=56821ce00f2f33a997385a9376bf2113&oe=5D02F211"/>
      <h1>Shoes Guatemala</h1>
      <span class="minutes">Zapateria</span>
      <p class="type">Tienda Online, Ciudad de Guatemala.</p>
    </div>
    <div class="movie_desc">
      <p class="text"> Zapatos de los mejores estilos a los mejores precios con envios a todo el país. </p> <br>
      <p class="text"> | INFORMACION GENERAL - HORARIO|</p>
      <p class="text">Lunes a Viernes: 8:30 AM - 5:00 PM</p>
      <p class="text">Sabado: 8:30 AM - 3:00 PM</p>
      <p class="text">Domingo: CERRADO</p>
    </div>
    <div class="movie_social">
      <a href="https://www.facebook.com/ShoesGuatemala/">¡Visitanos en Facebook!</a>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>



